body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box input {
    width: calc(100% - 40px);
    padding: 10px 20px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-box i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #4cae4c;
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-link a {
    color: #5cb85c;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  